@import url("http://fonts.googleapis.com/css?family=Lato:300,400");
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

.fltLeft {
  float: left; }

.fltRight {
  float: right; }

.fltClear {
  clear: both; }

.alignRight {
  text-align: right; }

body {
  font-family: "Lato" "Open Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 10px; }

h2 {
  font-weight: 300;
  font-size: 140%; }

h3 {
  font-weight: 300;
  font-size: 110%; }

.rack-view-options .buttons {
  margin: 1% 0px 10px 0px; }
  .rack-view-options .buttons .button {
    background-image: linear-gradient(to bottom, #dedede, #efefef);
    background-image: -o-linear-gradient(bottom, #dedede, #efefef);
    background-image: -ms-linear-gradient(bottom, #dedede, #efefef);
    background-image: -moz-linear-gradient(bottom, #dedede, #efefef);
    background-image: -webkit-linear-gradient(bottom, #dedede, #efefef);
    display: inline-block;
    border: 1px solid #999;
    padding: 1% 10px; }
    .rack-view-options .buttons .button:hover {
      background-image: linear-gradient(to bottom, #efefef, #dedede);
      background-image: -o-linear-gradient(bottom, #efefef, #dedede);
      background-image: -ms-linear-gradient(bottom, #efefef, #dedede);
      background-image: -moz-linear-gradient(bottom, #efefef, #dedede);
      background-image: -webkit-linear-gradient(bottom, #efefef, #dedede); }
  .rack-view-options .buttons .selected-view, .rack-view-options .buttons .selected-color {
    background-image: linear-gradient(to bottom, #9090cd, #bcbcde);
    background-image: -o-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -ms-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -moz-linear-gradient(bottom, #9090cd, #bcbcde);
    background-image: -webkit-linear-gradient(bottom, #9090cd, #bcbcde); }
    .rack-view-options .buttons .selected-view:hover, .rack-view-options .buttons .selected-color:hover {
      background-image: linear-gradient(to bottom, #bcbcde, #9090cd);
      background-image: -o-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -ms-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -moz-linear-gradient(bottom, #bcbcde, #9090cd);
      background-image: -webkit-linear-gradient(bottom, #bcbcde, #9090cd); }
.rack-view-options .checkbox {
  vertical-align: baseline;
  display: inline-block;
  background-image: linear-gradient(to bottom, #dedede, #efefef);
  background-image: -o-linear-gradient(bottom, #dedede, #efefef);
  background-image: -ms-linear-gradient(bottom, #dedede, #efefef);
  background-image: -moz-linear-gradient(bottom, #dedede, #efefef);
  background-image: -webkit-linear-gradient(bottom, #dedede, #efefef); }
  .rack-view-options .checkbox:hover {
    background-image: linear-gradient(to bottom, #efefef, #dedede);
    background-image: -o-linear-gradient(bottom, #efefef, #dedede);
    background-image: -ms-linear-gradient(bottom, #efefef, #dedede);
    background-image: -moz-linear-gradient(bottom, #efefef, #dedede);
    background-image: -webkit-linear-gradient(bottom, #efefef, #dedede); }

x3d {
  position: relative;
  margin: 10px; }
  x3d canvas {
    border: 1px solid black; }
  x3d button {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 24px;
    border: none;
    background-color: #fff;
    color: #202021; }
    x3d button#zoom-in {
      top: 1px;
      left: 1px; }
    x3d button#zoom-out {
      top: 25px;
      left: 1px; }
    x3d button:hover {
      background-color: #ebebeb; }

#rack-data {
  display: inline-block;
  margin: 10px;
  border: 1px solid #000;
  padding: 10px;
  width: 275px; }
  #rack-data .footnotes {
    padding: 5% 0% 0% 0%;
    font-size: 75%; }

#leader-data {
  margin: 5px 0px;
  padding: 10px;
  width: 760px; }
  #leader-data #leader-list .leader {
    margin: 10px;
    width: 225px;
    float: left;
    list-style-type: decimal;
    list-style-position: inside; }
    #leader-data #leader-list .leader .leader-item {
      margin-left: 10px;
      width: 225px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      #leader-data #leader-list .leader .leader-item:hover {
        overflow: visible;
        white-space: normal; }
